<%- include("../partials/header") %>

<h3 class="mb-3">
  Products
</h3>

<a href="/products/create" class="btn btn-primary mb-3">
  Add Product
</a>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th width="220">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(p => { %>
      <tr>
        <td><%= p.name %></td>
        <td>₹ <%= p.price %></td>
        <td>
          <a href="/products/edit/<%= p._id %>" class="btn btn-sm btn-warning">
            Edit
          </a>

          <a
            href="/products/delete/<%= p._id %>"
            class="btn btn-sm btn-danger"
            onclick="return confirm('Are you sure?')"
          >
            Delete
          </a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include("../partials/footer") %>